.app-header {
  background-color: #fff;
  color: black;
  padding: 1em;
  border-bottom:1px solid grey ;
}

@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}
