.app-header {
  background-color: #fff;
  color: black;
  padding: 1em;
  border-bottom:1px solid grey ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  position: sticky;
  top: 0px;
}

.app-footer{
  display: flex;
  justify-content: end;
}

.app-header h1 {
  color: tan;
  font-size: 2em;
  margin: 0;
  margin-inline-start: 1em;
}

@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}
