.user-msg {
    position: fixed;
    top: 90%;
    left: 5%;
    color: white;
    width: 290px;
    background-color: rgb(226, 222, 87);
    padding: 10px;
    border-radius: 5px;
    /* transition: opacity 1s; */
}
.user-msg.success {
    color: white;
    background-color: rgb(27, 27, 27);
}
.user-msg.error {
    background-color: rgb(136, 56, 56);
}