.keep-index {
    margin-top: 4em;
    display: grid;
    grid-template-columns: 100px auto 20px;
    grid-template-areas: 
    "nav-bar add-note"
    "nav-bar notes";
}

.menu {
    grid-area: nav-bar;
}

.notes {
    grid-area: notes;
    justify-self: center;
    align-self: center;
}

