/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';

/* Components */
@import 'cmps/UserMsg.css';
@import 'cmps/HomePage.css';
@import 'cmps/AppHeader.css';


/* Apps */
@import 'apps/mail/MailIndex.css';
@import 'apps/note/NoteIndex.css';

/* Note cmps */
@import './apps/note/cmps/NotePreview.css';
@import './apps/note/cmps/NoteList.css';
@import './apps/note/cmps/NoteTods.css';
@import './apps/note/cmps/KeepMenu.css';
@import './apps/note/cmps/LabelAdd.css';
@import './apps/note/cmps/BgAdd.css';
@import './apps/note/cmps/NoteImg.css';
@import './apps/note/cmps/NoteAdd.css';

/* Mail cmps */
@import './apps/mail/cmps/MailList.css';
@import './apps/mail/cmps/MailDetails.css';
@import './apps/mail/cmps/MailPreview.css';
@import './apps/mail/cmps/MailCompose.css';
