.keep-app-menu {
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-auto-flow: row;
    row-gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.keep-app-menu i {
    box-sizing: border-box;
    font-size: 2em;
    padding: 0.3em;
    border-radius: 50%;
    transition: 0.2s;
}


.keep-app-menu i:hover {
    background-color: rgb(235, 235, 180) ;
    cursor: pointer;
}