.label-add-modal {
    position: absolute;
    top: 50%;
    left: 50%; /* Position the modal to the right of the note */
    translate: -50% -50%;
    background-color: #fff;
    border: 3px solid grey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 200px;
    z-index: 999;
    border-radius: 8px;
  }

  .label-add-modal ul {
    display: flex;
    flex-direction: column;
  }

  .label-add-modal ul li {
    text-align: start;
   
  }

  .label input, .label label {
     cursor: pointer;
  }

  .label {
    transition: 0.218s;
  }

  .label:hover {
    background-color: bisque;
  }

  .label-btn {
    padding: 0;
    position: absolute;
    bottom: 69%;
    left: 112%;
    translate: -112% -69%;
    transition: 0.218s;
  }

  .label-btn:hover {
     background-color: rgb(212, 212, 212, 0.5);
     border-radius: 50%;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    cursor: pointer;
  }