.filter {
  position: absolute;
  top: 30%;
  left: 50%;
  translate: -50% -50%;
}

.filter ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 472.5px;
  gap: 1em;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  padding: 0;
  padding-block: 3em;
}

.label-item {
  text-align: center;
  width: 6em;
  height: 6em;
  background-color: rgb(236, 236, 236);
  break-inside: avoid-column;
  cursor: pointer;
  font-weight: 800;
  font-family: 'Google sans';
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-inline-start: 5em;
}

.search-icon {
  margin-right: 0.5rem;
  color: gray;
}

.search-icon:hover {
  background-color: white;
}

.filter-input {
  background-color: rgb(236, 239, 243);
  padding: 11px;
  border-radius: 8px;
}

.go-back-btn {
  cursor: pointer;
  transition: 0.2s;
  padding: 0.5em 0.7em;
  border-radius: 8px;
}

.go-back-btn:hover {
  background-color: rgb(236, 239, 243);
}
