.note-preview {
  position: relative;
  background-color: #fff;
  width: 238px;
  padding: 12px 16px;
  padding-bottom: 0px;
  border: 1px solid #e0e0e0;
  text-align: center;
  break-inside: avoid-column;
  margin-bottom: 1em;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.note-preview:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tool-tip {
  display: flex;
  gap: 8px;
  margin-top: 0.2em;
  justify-content: center;
  align-items: end;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.note-preview:hover .tool-tip {
  opacity: 1;
}

.tool-tip-dialog {
  display: flex;
  gap: 8px;
  margin-top: 0.2em;
  justify-content: center;
  align-items: end;

}


.material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
  cursor: pointer;
  transform: scale(0.8);
  padding: 0.35em;
  border-radius: 50%;
  transition: 0.218s;
}

.material-icons:hover {
  background-color: rgb(224, 224, 224);
}

.unpinned-icon {
  font-size: 1em;
  padding: 0px;
  color: #000;
  background-color: transparent;
  float: right;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.note-preview:hover .unpinned-icon {
  opacity: 1;
}

/* labels */ 

.note-label {
  font-size: 0.5em;
  border-radius: 8px;
  color: black;
}

.note-label:hover {
  background-color: lightslategray;
}

.label-work {
  background-color: lightcoral;
}

.label-family {
  background-color: lightseagreen;
}

.label-critical {
  background-color: lightcyan;
}

.label-friends {
  background-color: lightgoldenrodyellow;
}

.label-spam {
  background-color: lightgreen;
}

.label-romantic {
  background-color: lightskyblue;
}

.label-memories {
  background-color: lightsalmon;
} 

/* Dialog */ 

.note-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 999;
  width: 600px;
}

.note-dialog-title {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

.note-dialog-close-btn {
  display: block;
  margin-top: 20px;
  background-color: #ddd;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.note-dialog-close-btn:hover {
  background-color: #ccc;
}

