.note-dialog {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 999;
  width: 37.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

.note-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.note-dialog-title {
  align-self: flex-start;
  padding: 1em 0.9em 0.75em;
}

.note-dialog-text {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: left;
  padding: 1em 0.9em 0.75em;
}

.tool-tip-dialog {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: end;
  margin-top: 1rem;
}

.note-dialog-icons {
  display: flex;
  align-items: center;

}

.note-text {
  width: max-content;
  height: max-content;
}

.note-dialog-close-btn {
  margin-left: 25em;
  background: none;
  font-size: 0.8em;
  padding-bottom: 0;
}

.note-dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.icon-title-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
}

.no-border {
  border: none;
  outline: none;
}

.mdi {
  align-self: center;
  border-radius: 50%;
  padding: 0.3em;
  cursor: pointer;
  transition: 0.218s;
}

.mdi:hover {
  align-self: center;
  background-color: rgb(224, 224, 224);
}
