.add-note {
  grid-area: add-note;
  box-sizing: border-box;
  width: 600px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  justify-self: center;
  align-self: center;
  padding: 12px 16px;
  letter-spacing: 0.01428571em;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #202124;
  border-radius: 8px;
  direction: ltr;
  position: relative;
  padding-right: 30px;
  cursor: text;
}

.add-note.full-display {
  display: flex;
  flex-direction: column;
  height: 136px;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 1em;
}

.note-header input {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

.add-note input {
  padding: 0;
  font-weight: 545;
}

.note-footer .icons {
  display: flex;
  gap: 10px;
}

.add-note.full-display::before {
  content: '';
}

.add-note .add-icon {
  right: 50px;
}

.add-note .delete-icon {
  right: 5px;
}

.add-note::before {
  content: 'Take a note...';
  display: flex;
  align-items: center;
  justify-content: start;
  pointer-events: none;
  color: gray;
}

.add-note:focus::before {
  display: none;
}

.note-icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 10px;
  right: 10px;
  bottom: 10px;

}

.note-icon .mdi {
  cursor: pointer;
  padding: 0.3em;
}

.note-icon .mdi:hover {
  background-color: rgb(228, 228, 228);
  border-radius: 50%;
}




/* mq */

@media (max-width: 860px) {
  .add-note {
    width: 500px;
  }
}

@media (max-width: 660px) {
  .add-note {
    width: 300px;
  }
}

.faux-input {
  position: relative;
}

.faux-caret {
  position: absolute;
  top: 30%;
  left: 1em;
  width: 1px;
  height: 45%;
  background-color: black;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: black;
  }
}
