.sidebar {
    position: fixed;
    top: 0px; 
    left: 0;
    width: 60px;
    height: 100%;
    background-color: #f2f6fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    
  }

  a .material-icons {
    border-radius: 40%;
    padding: 15px;
    background-color: #c2e7ff;
    position: fixed;
    left: 2px;
    
  }
  .filterIcons{
    position: fixed;
    top: 200px;
    margin-left:8px;
  }
  
  a .material-icons :hover{
    background-color: #c2e7ff;

  }
  
  .mail-index {
    margin-left: 60px;
  }

  .top-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .top-actions input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    outline: none;
  }
  
  .top-actions input:focus {
    border-bottom-color: #4CAF50;
  }
  
  .top-actions i {
    font-size: 24px;
    color: black;
  }
  
  
  
  
  