.sidebar {
    position: fixed;
    top: 64px; /* Adjust this value to match the height of the app header */
    left: 0;
    height: calc(100vh - 64px); /* Adjust this value to account for the app header height */
    width: 60px;
    /* background-color: #f2f2f2; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    /* justify-content: center; */
  }

  a .material-icons {
    border-radius: 40%;
    padding: 15px;
    background-color: #c2e7ff;
    position: fixed;
    left: 2px;
    
  }
  
  a .material-icons :hover{
    background-color: #c2e7ff;

  }
  
  .mail-index {
    margin-left: 60px; /* Adjust this value to provide space for the sidebar */
    /* Other styles for the mail index section */
  }

  .top-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .top-actions input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    outline: none;
  }
  
  .top-actions input:focus {
    border-bottom-color: #4CAF50;
  }
  
  .top-actions i {
    font-size: 24px;
    color: black;
  }
  
  
  
  
  