@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: url('../../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
  }