* {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

}

.mail-list ul {
  padding: 0;
}

.mail-list ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mail-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: .2px solid #ccc;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.mail-preview h2,
.mail-preview h3 {
  margin: 0;
  flex: 1;
}
.mail-preview h4{
  margin: 0;
}

.mail-preview a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  margin-inline-end: 2px;
}


.isRead, .isRead * {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size:medium;
  
}
.isRead{
  background-color: rgba(100,121,143,0.122);

}

/* .unread{
  background-color: rgba(100,121,143,0.122);
}  */


.mail-preview:hover {
  box-shadow: inset -1px 0 0 #dadce0,
  0 1px 2px 0 rgba(60,64,67,.3),
  0 1px 3px 1px rgba(60, 64, 67, .15);
}

