* {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

}


.mail-list ul {
  padding: 0;
}

.mail-list ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mail-list ul li:hover{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.mail-list ul li .material-icons {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.mail-list ul li:hover .material-icons {
  opacity: 1;
}


.mail-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: .2px solid #ccc;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.mail-preview h2,
.mail-preview h3 {
  margin: 0;
  flex: 1;
}
.mail-preview h4{
  margin: 0;
}

/* .mail-preview a {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  margin-inline-end: 2px;
}


.isRead, .isRead * {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size:medium;
  
}
.isRead{
  background-color: #f2f6fc;
  

}

/* .unread{
  background-color: rgba(100,121,143,0.122);
}  */



