* {
  box-sizing: border-box;
}

html {
  
}

body {
  margin: 0;
  color: var(--clr4);
  background-color: #fff;
  color: #202124;
  direction: ltr;
  font-family: "Roboto",arial,sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* tap targets: */
nav a,
button {
  min-width: 48px;
  min-height: 48px;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}

